

/*The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page 
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
  background-color: #0f9420; 
} */


.p {
  text-align: right;
  font-size: 20px;
  margin-top: 0px;
  color: white;
  background-color: white (0, 0, 0, 0.5); /* Black w/opacity/see-through */
  right: 150px;
}
.responsive {
  width: 100%;
  height: auto;

} 

.container {
  background-color: black;
} 
.counter-title {
  position: -webkit-sticky;
  text-align: center;
  background-color: #57aa62;
}


/* Top right text */
.top-right {
  font-family: 'Bungee Outline';font-size: 25px;
  font-weight: bold;
  color: white;
  /*background-color: white (0, 0, 0, 0.5); /* Black w/opacity/see-through */
  position: absolute;
  top: 8px;
  right: 150px;

}

/* Centered text */
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee Outline';font-size: 60px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid  #0f9420;
  position: absolute;
  z-index: 2;
  width: 80%;
  padding: 5px;
  text-align: center;
}

.panel-body {
  padding: 0;
  width: 20%;
  float: left; /* search fields horizontal */
  text-align: center;
  color: black;
    
}


.filter-btn {
outline-style: auto;
color: forestgreen;
}


.table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    background-color: #50df63;
    margin-left: 100px;
    margin-right: auto; 
    text-align: center;
        
   /* background-color: ghostwhite; */
}

.form-group {
  border: 3px solid  black;
  
 }
 /*
 .filter-btn {
  border: 3px solid  black;
 }  */

 .btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /*float: left; /* Float the buttons side by side */
  /*display: table; */
}
/*
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders 
} */

/* Clear floats (clearfix hack) 
.btn-group:after {
  content: "";
  clear: both;
  display: table;
} */

/* Add a background color on hover */
.btn-group button:hover {
  background-color: red;

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}




 
/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  /
  .center {
    margin-left: auto;
    margin-right: auto; 
    text-align: Center;
        
  } */

}
}